:host {
  display: block;
  min-height: 100vh;
}

.active-tab {
  color: var(--p1) !important;
  font-weight: 900 !important;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    width: 28px;
    height: 3px;
    border-radius: 0 0 3px 3px;
    background: var(--p1);
  }
}
